################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Day5_CoreCodeFirstApproachApp/obj
/Day5_CoreCodeFirstApproachApp/bin/Debug/net5.0
/Day4_CoreSessionManagementApp/bin/Debug/net5.0
/Day4_CoreSessionManagementApp/obj
/Day4_CoreViewModelApplication/obj/Debug/net5.0
/Day4_CoreViewModelApplication/bin/Debug/net5.0
/Day2_ConfiguringMVCWebApp/obj/Debug/net5.0
/Day3_CoreMVCConcepts/obj/Debug/net5.0
/Day1_ConfiguringMVCApp/obj/Debug/net5.0
/Day1_WebFundamentals/obj/Debug/net5.0
/Day1_ConfiguringMVCApp/obj/project.nuget.cache
/Day1_ConfiguringMVCApp/obj/project.assets.json
/Day1_ConfiguringMVCApp/obj/Day1_ConfiguringMVCApp.csproj.nuget.g.targets
/Day1_ConfiguringMVCApp/obj/Day1_ConfiguringMVCApp.csproj.nuget.g.props
/Day1_ConfiguringMVCApp/obj/Day1_ConfiguringMVCApp.csproj.nuget.dgspec.json
/Day1_WebFundamentals/obj/project.nuget.cache
/Day1_WebFundamentals/obj/project.assets.json
/Day1_WebFundamentals/obj/Day1_WebFundamentals.csproj.nuget.g.targets
/Day1_WebFundamentals/obj/Day1_WebFundamentals.csproj.nuget.g.props
/Day1_WebFundamentals/obj/Day1_WebFundamentals.csproj.nuget.dgspec.json
/Day2_ConfiguringMVCWebApp/obj/project.nuget.cache
/Day2_ConfiguringMVCWebApp/obj/project.assets.json
/Day2_ConfiguringMVCWebApp/obj/Day2_ConfiguringMVCWebApp.csproj.nuget.g.targets
/Day2_ConfiguringMVCWebApp/obj/Day2_ConfiguringMVCWebApp.csproj.nuget.g.props
/Day2_ConfiguringMVCWebApp/obj/Day2_ConfiguringMVCWebApp.csproj.nuget.dgspec.json
/Day3_CoreMVCConcepts/obj/project.nuget.cache
/Day3_CoreMVCConcepts/obj/project.assets.json
/Day3_CoreMVCConcepts/obj/Day3_CoreMVCConcepts.csproj.nuget.g.targets
/Day3_CoreMVCConcepts/obj/Day3_CoreMVCConcepts.csproj.nuget.g.props
/Day3_CoreMVCConcepts/obj/Day3_CoreMVCConcepts.csproj.nuget.dgspec.json
/Day4_CoreViewModelApplication/obj/project.nuget.cache
/Day4_CoreViewModelApplication/obj/project.assets.json
/Day4_CoreViewModelApplication/obj/Day4_CoreViewModelApplication.csproj.nuget.g.targets
/Day4_CoreViewModelApplication/obj/Day4_CoreViewModelApplication.csproj.nuget.g.props
/Day4_CoreViewModelApplication/obj/Day4_CoreViewModelApplication.csproj.nuget.dgspec.json
