
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
     <h2>About View</h2>
    <p>About view of Home Controller</p>

    <a href="/">Home</a>
</body>
</html>
