
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
         <h2>Contact View</h2>
    <p>Contact view of Home Controller</p>

    <a href="/">Home</a>
</body>
</html>
