
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Index View</h2>
    <p>Index view of Home Controller</p>
    <a href="/home/about">About</a>
    <a href="/home/contact">Contact</a>

</body>
</html>
