@using Microsoft.AspNetCore.Http;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
            <h2>Login</h2>

    <p>@ViewBag.Error</p>

    <form asp-action="Login" asp-controller="Account" method="post">
        <input type="text" name="username" placeholder="username" />
        <input type="text" name="password" placeholder="password" />
        <input type="submit" value="Login" class="btn btn-primary" />
    </form>


   <h2>You are successfully logged out as @Context.Session.GetString("uname").</h2>
</body>
</html>